@charset "UTF-8";

/* *************************************메인************************************** */
.container-fluid {
	padding: 0;
}

.main-banner {
	margin-bottom: 85px;
	height: 420px;
	border-bottom: solid 1px #7FD858;
	background-color: #7FD85827;
	background-image: url("/sns/resources/img/mainpage/cloud.png");
	background-repeat: no-repeat;
}

.main-banner-wrap {
	padding-top: 80px;
	display: flex;
	justify-content: space-around;
	height: 100%;
	position: relative;
}

.main-banner-wrap h1 {
	margin-bottom: 20px;
	font-size: 42px;
}

.main-banner-left {
	width: 500px;
	height: 100%;
}

.Treep-btn {
	border: #7FD858 solid 2px;
	padding: 20px 15px 15px 15px;
	font-weight: bolder;
	border-radius: 10px;
	transition: all 1000ms;
}

.Treep-btn:hover {
	background-color: #7FD858;
	color: white;
	transition: all 500ms;
}

.search-place-wrap {
	width: 500px;
	height: 50px;
	border: #7FD858 solid 1px;
	border-radius: 30px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	padding-left: 15px;
}

.search-place-wrap i {
	color: #264653;
	font-size: 20px;
	padding-top: 2px;
}

.search-place-wrap input {
	padding-left: 15px;
	border: none;
	outline: none;
	padding-top: 3px;
	font-size: 16px
}

.search-place-wrap input::placeholder {
	color: lightgray;
}

.search-place-box {
	background-color: rgb(248, 248, 248);
	border-radius: 5px;
	padding: 2px 0;
	height: 193px;
}

.search-place-scroll {
	height: 190px;
	width: 500px;
	position: relative;
	overflow: hidden auto;
}

.search-place-scroll::-webkit-scrollbar {
	width: 6px;
}

.search-place-scroll::-webkit-scrollbar-thumb {
	background-color: rgb(233, 233, 233);
	border-radius: 10px;
	height: 110px;
	cursor: pointer;
}

.search-place-scroll::-webkit-scrollbar-thumb:hover {
	background-color: darkgray;
}

.search-box-wrap {
	width: 100%;
	height: 50px;
	margin: 10px 20px;
	display: flex;
	align-items: center;
	gap: 15px;
}
.search-box-wrap i{
 font-size:20px;
    color: #f4a261;
}

.search-left h5 {
	font-size: 19px;
	line-height: 1;
	width: 153px;
	padding-bottom: 1px;
}

.search-left span {
	font-size: 14px;
	color: darkgray;
	font-weight: 100;
}


.main-banner-right {
	height: 100%;
	display: flex;
}

.main-banner-plane {
	height: 600px;
	position: relative;
	top: -145px;
	padding-left: 50px;
}

/* ***************************** main-modal*********************************** */

.modal-fullscreen {
	height: 100vh;
	margin: 0;
}

#detail-modal .modal-content {
	height: 500px;
	width: 1100px;
}

.modal-dialog-scrollable .detail-modal-content {
	height: 100%;
	padding: 0;
}

.detail-modal-header {
	border: none;
}
#modal-city-country{
	padding-left: 2px;
}
.detail-modal-body {
	margin-bottom: 20PX;
	max-height: calc(100vh - 120px);
	overflow-y: auto;
	overflow-x: hidden;
}

.detail-modal-body::-webkit-scrollbar {
	width: 6px;
}

.detail-modal-body::-webkit-scrollbar-thumb {
	background-color: rgb(233, 233, 233);
	border-radius: 10px;
	height: 10%;
	cursor: pointer;
}

.detail-modal-body::-webkit-scrollbar-thumb:hover {
	background-color: darkgray;
}

.detail-modal-content .row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.detail-modal-left {
	margin-left: 50px;
	height: 300px;
}

.detail-modal-left span {
	color: darkgray;
	font-size: 22px;
}

.detail-modal-left h1 {
	margin-bottom: 20px;
}

.detail-modal-left p {
	width: 500px;
	text-align: justify;
	margin-bottom: 30px;
}

.detail-modal-right img {
	width: 380px;
	height: 380px;
	border-radius: 10px;
}
.detail-modal-right {
	margin-left: 40px;
}
.make-plan-btn {
	border: #7FD858 solid 2px;
	padding: 13px 30px 8px 30px;
	font-weight: bolder;
	border-radius: 10px;
	transition: all 300ms;
	margin-bottom: 50px;
}

.make-plan-btn:hover {
	background-color: #7FD858;
	color: white;
	transition: all 300ms;
}

/* ***************************** main-place ********************************** */
.main-place {
	text-align: center;
	margin-bottom: 10px;
}

.main-place h1 {
	font-weight: bold;
	color: #7FD858;
	font-size: 55px;
}

.main-place-nav ul {
	margin-top: 25px;
	display: flex;
	justify-content: center;
	gap: 15px;
}

.main-place-nav a {
	padding: 2px;
	font-size: 25px;
	cursor: pointer;
	color: #264653;
}

.category-selected {
	border-bottom: #7FD858 solid 3px;
	color: #7FD858;
}

.card-wrap {
	margin-top: 40px;
}
.card-wrap h2{
	color:darkgray;
	margin: 100px 0;
	
}
.slick-track {
	padding-top: 15px;
}

.main-card {
	border-radius: 10px;
	width: 300px;
	height: 400px;
	margin: 0 30px;
	transition: transform 0.3s;
}

.main-card:hover {
	transition: transform 0.3s;
	transform: scale(1.07);
	border-radius: 10px;
}

.main-card img {
	width: 100%;
	height: 280px;
	border-radius: 10px;
}

.main-card-content {
	height: 100px;
	padding: 18px 0 0 10px;
	text-align: left;
}

.main-card-content h3 {
	font-size: 30px;
}

.main-card-content span {
	font-size: 18px;
	color: #e76f51;
}

.section-btn {
	position: relative;
	display: flex;
	justify-content: center;
	top: -290px;
	width: 100%;
}

.section-btn button {
	font-size: 55px;
	color: #f4a261;
	font-weight: bold;
}

.recommend-prev-btn {
	position: relative;
	right: 750px;
}

.recommend-next-btn {
	position: relative;
	left: 750px;
}

/* ***************************** main-ad ********************************** */
.main-ad-header {
	width: 80%;
	margin: auto;
	margin-bottom: 60px;
}

.main-ad-header img {
	width: 100px;
	margin-bottom: 7px;
	padding: 0;
}

.ad-header-text :nth-child(2n) {
	margin-bottom: 8px;
}

.ad-header-text h1 {
	font-weight: bold;
	font-size: 52px;
}

.ad-header-text h3 {
	font-size: 30px;
	color: #264653;
}

.ad-header-text {
	padding: 0;
}

.ad-wrap {
	display: flex;
	width: 80%;
	margin: auto;
	height: 350px;
	align-items: center;
	justify-content: space-around;
}

.ad-board .ad-text {
	text-align: end;
}

.ad-text {
	width: 500px;
}

.ad-text h2 {
	font-size: 52px;
}

.ad-text p {
	font-size: 30px;
	color: #264653;
}

.ad-bubble {
	width: 470px;
	height: 200px;
	background-color: #7FD85827;
	border-radius: 10px;
	padding: 57px 0px;
	display: flex;
	justify-content: center;
	text-align: center;
}

.ad-bubble p {
	width: 280px;
	font-size: 30px;
	font-weight: lighter;
}

.ad-right-bubble {
	position: relative;
}

.ad-right-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 65%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #7FD85827;
	border-left: 0;
	margin-top: -20px;
	margin-left: -20px;
}

.ad-left-bubble {
	position: relative;
}

.ad-left-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 65%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #2a9d9027;
	border-right: 0;
	margin-top: -20px;
	margin-right: -20px;
}

.main-ad .fa-solid {
	font-size: 25px;
}

.ad-together-bubble .fa-quote-left {
	position: relative;
	left: 3px;
}

.ad-together-bubble .fa-quote-right {
	position: relative;
	top: 45px;
	left: 2px;
}

.ad-board-bubble p {
	width: 250px;
}

.ad-board-bubble .fa-quote-right {
	position: relative;
	top: 45px;
	right: 35px;
}

.ad-board-bubble .fa-quote-left {
	position: relative;
	left: 5px;
}

.ad-board-bubble {
	background-color: #e9c56a42;
}

.ad-board-bubble:after {
	border-left-color: #e9c46a42;
}

.ad-join-bubble p {
	width: 275px;
}

.ad-join-bubble .fa-quote-right {
	position: relative;
	top: 45px;
	right: 20px;
}

.ad-join-bubble .fa-quote-left {
	position: relative;
	left: 7px;
}

.ad-join-bubble {
	background-color: #f4a26132;
}

.ad-join-bubble:after {
	border-right-color: #f4a26132;
}

/************** ad-banner ******************/
.main-ad-banner {
	margin-top: 100px;
	width: 100%;
	height: 220px;
}

.ad-banner-wrap {
	width: 80%;
	height: 100%;
	margin: auto;
	display: flex;
	align-items: center;
	background-color: #C5C5E6;
	border-radius: 8px;
}

.ad-banner-img {
	width: 500px;
	padding-left: 50px;
	position: relative;
	top: -9px;
}

.ad-banner-img img {
	width: 170px;
}

.ad-banner-text {
	width: 90%;
	padding-left: 85px;
}

.ad-banner-text h2 {
	font-size: 30px;
	margin-bottom: 25px;
}

.ad-banner-text p {
	font-size: 20px;
}