@charset "UTF-8";

.note{
	margin-top:100px;
}
#note-store,#note-delete,#note-write,#store-delete,
#store-confirm,#send-close,#send-confirm{
    border: 1px solid #7FD858;
}
#note-store:hover,#note-delete:hover,#note-write:hover,
#store-delete:hover,#store-confirm:hover,#send-close:hover,#send-confirm:hover{
    background-color: #7FD858;
    color: white;
}
/* 쪽지 보내기 인풋칸 */
#message-text,#recipient-name{
    border: solid 1px #e0e0e0;
    border-radius: 5pxx;
}
#message-text:focus,#recipient-name:focus{
    
    box-shadow: #caf7b6 0px 0px 0px 2px;
    border: solid 1px #caf7b6;
}
#note-store,#note-delete{
    margin-left: 5px;
    float: right;
    font-weight: bold;
}
#note-write{
    font-weight: bold;
}
#empty-store{
    width: 100%;
    height: 300px;
    text-align: center;
    display: none;
}
#empty-store-text{
    font-size: 2rem;
    padding: 130px;
}    
#store-delete{
    float: right;
}

/* 쪽지 자세히보기 */
#note-title-click{
    text-decoration: none;
    color: black;
}
#send-person,#receive-date{
    margin-right: 20px;
    font-weight: bold;
}
#send-note-title{
    font-weight: bold;
    margin-right: 50px;
}
#detail-send-person,#detail-receive-date{
    color: gray;
}
.recieveDate-note-row{
    margin-top: 5px;
}
.title-note-row{
    margin-top: 5px;
    margin-bottom: 20px;
}

#note-detail-store,#note-detail-delete{
    border: 1px solid #7FD858;
}
#note-detail-store:hover,#note-detail-delete:hover{
    background-color: #7FD858;
    color: white;
}

/* 페이지네이션 */
#note-pagination{
    justify-content: center;
}
#note-pagination li a{
    text-decoration: none;
    color: black;
}
#note-pagination li a:hover{
    background-color: #7FD858;
    color: white;
}
#note-pagination li a:focus{
    outline: none;
}
.pagination .page-link:focus {
    outline: none;
    box-shadow: none;
}

/* 받은쪽지 */

#rev2-tab{
	color: black;
}

#rev2-tab.active{
	color: #2e8b57;
}

/* 보낸쪽지 */
#send2-tab{
	color: black;
}

#send2-tab.active{
	color: #2e8b57;
}

/* 보관쪽지 */
#store2-tab{
	color: black;
}

#store2-tab.active{
	color: #2e8b57;
}

