@charset "UTF-8";
/*signup1 end*/
.signup_space {
	position: relative;
	/* margin-left: 40%;

    /* width: 14%;
    height: 100%; */
	width: 25%;
	height: 20%;
	margin: 5% auto;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.signup_space_title {
	margin-bottom: 10px;
	width: 100%;
	height: auto;
	display: flex;
	align-items: baseline;
	flex-direction: column;
}

#signup_space_title_main {
	font-size: 25pt;
}

.form-label {
	padding: 0%;
	size: 10%;
}

#signup_space_title_sub {
	font-size: 12pt;
	color: #B3B1B1;
}

#signup_space_ {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: row;
	margin: 0%;
}

.input_area {
	display: flex;
	align-items: baseline;
	flex-direction: column;
}

#next_btn {
	width: 100%;
	height: 44px;
}

#InputPassword {
	width: 100%;
}

#input_text_common {
	font-size: 8pt;
	margin: 0%;
	padding: 0%;
	color: #B3B1B1;
}

#submit_btn {
	height: 100%;
	width: 50px;
	border: solid 1px #000000;
}

.button_orange {
	border: solid 2px;
	border-color: #7FD858;
	color: #7FD858;
	vertical-align: middle;
	justify-content: center;
	text-align: center;
	font-weight: 100;
	border-radius: 5px;
}

.button_orange:hover {
	border: solid 2px;
	border-color: #7FD858;
	color: #fafafa;
	background-color: #7FD858;
}

#submit_btn_forname:active, #submit_btn_forID:active, #next_btn:active {
	border: solid 2px;
	border-color: #7FD858;
	color: #fafafa;
	background-color: #7FD858;
}
/*signup1 end*/
/*signup2 start*/
.signup2main {
	position: relative;
	margin-left: 40%;
	margin-top: 10%;
	width: 20%;
	height: 100%;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.memberBirthDate {
	font-size: x-large;
	font-weight: bold;
	border: none;
}

#InputPhone {
	width: 100%;
}

#option1 {
	margin: 300pt;
}

.memberGender_input {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-items: center;
	width: 100%;
}

.signup_gender {
	margin: 0px 3px;
	margin-bottom: 10px;
	display: flex;
	width: 50%;
}

#signup_space_title_main2 {
	font-size: 20pt;
}

.memberPhone_input {
	width: 100%;
}

.button_outline_orange {
	border: solid 2px;
	border-color: #7FD858;
	color: #7FD858;
}

#next_btn:hover {
	border: solid 2px;
	border-color: #7FD858;
	color: #fafafa;
	background-color: #7FD858;
}

#end_btn {
	width: 100%;
	height: 44px;
}

#Inputid {
	outline: invert;
	outline-color: #f4a261;
}

.input_text_common {
	border: solid 1px #e0e0e0;
	border-radius: 5px;
}

.input_text_common:focus {
	box-shadow: #caf7b6 0px 0px 0px 2px;
	border: solid 1px #caf7b6;
}

.gender_check {
	display: none;
	margin: 10px;
}

.gender_check+label {
	display: inline-block;
	margin: none;
	padding: 6px 12px 6px 12px;
	background-color: #fafafa;
	color: #7FD858;
	border: solid 2px #7FD858;
	border-radius: 5px;
	width: auto;
	text-emphasis: center;
	text-align: center;
	width: 100%;
}

.gender_check:hover+label {
	background-color: #7FD858;
	color: #fafafa;
	border-color: #7FD858;
}

.gender_check:checked+label, .gender_check:active+label {
	background-color: #7FD858;
	color: #fafafa;
}

.InputBirth_div {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}
/*signup2 end*/
/* email start*/
.input_Email {
	margin-bottom: 100px;
}

.submit_btn_email {
	height: 4.8vh;
	width: 120px;
	border: solid 2px;
	border-color: #7FD858;
	color: #7FD858;
	margin-bottom: 8px;
	margin-left: 10px;
	border-radius: 5px;
}

.submit_btn_email:hover {
	color: #fafafa;
	background-color: #7FD858;
}

.input_InputEmail_area {
	width: 100%;
	height: auto;
	margin-bottom: 10%;
}

.input_Authenticationnumber_area {
	width: 100%;
	height: auto;
	/* visibility : hidden; */
}

.email_space {
	position: relative;
	/* margin-left: 40%;

    /* width: 14%;
    height: 100%; */
	width: 25%;
	height: 20%;
	margin: 9% auto;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.email_space_title {
	margin-bottom: 30px;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#email_space_title_main {
	font-size: 25pt;
}

#email_space_title_sub {
	font-size: 12pt;
	color: #B3B1B1;
}
/* email end*/
/*chagePW start*/
.changePW_space {
	position: relative;
	/* margin-left: 40%;

    /* width: 14%;
    height: 100%; */
	width: 25%;
	height: 20%;
	margin: 9% auto;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.changePW_space_title {
	margin-bottom: 10px;
	width: 100%;
	height: auto;
	display: flex;
	align-items: baseline;
	flex-direction: column;
}

#changePW_space_title_main {
	font-size: 25pt;
}

.form-label {
	padding: 0%;
	size: 10%;
}

.button_orange {
	border: solid 2px;
	border-color: #7FD858;
	color: #7FD858;
	vertical-align: middle;
	justify-content: center;
	text-align: center;
	font-weight: 100;
	width: 100%;
}

.button_orange:hover {
	border: solid 2px;
	border-color: #7FD858;
	color: #fafafa;
	background-color: #7FD858;
}

#input_text {
	font-size: 8pt;
	margin: 0%;
	padding: 0%;
	color: #B3B1B1;
}

.input_area {
	margin-bottom: 10px;
}

.input_text_common {
	border: solid 1px #e0e0e0;
	border-radius: 5px;
}

.input_text_common:focus {
	box-shadow: #caf7b6 0px 0px 0px 2px;
	border: solid 1px #caf7b6;
}