<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ss.sns.message.mapper.MsgMapper">

<select id="selectMemberNo" parameterType="int" resultType="int">
	select count(*) from member where member_no = #{member_no}
</select>

<select id="selectMessageCount" parameterType="int" resultType="int">
	select count(*) from message where message_rev = #{member_no}
</select>

<select id="selectMessageRevList" parameterType="map" resultType="MsgDTO">
	SELECT * FROM (SELECT ROWNUM RNUM, TM.* FROM(SELECT * FROM
	MESSAGE WHERE MESSAGE_REV = #{message_rev} ORDER BY MESSAGE_NO DESC) TM) WHERE
	RNUM BETWEEN #{startNo} and #{endNo}
</select>


<select id="selectMessageSenList" parameterType="map" resultType="MsgDTO">
	SELECT * FROM (SELECT ROWNUM RNUM, TM.* FROM(SELECT * FROM
	MESSAGE WHERE MESSAGE_SEN = #{message_sen} ORDER BY MESSAGE_NO DESC) TM) WHERE
	RNUM BETWEEN #{startNo} and #{endNo}
</select>

</mapper>