<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ss.sns.mypage.mapper.TripMapper">
    
    <!-- 기존 insertTrip -->
    <insert id="insertTrip" parameterType="TripDTO" useGeneratedKeys="true" keyProperty="trip_no">
        INSERT INTO TRIP (TRIP_TITLE, TRIP_START, TRIP_END, PLACE_PHOTO_URL)
    VALUES (#{trip_title}, #{trip_start}, #{trip_end}, #{place_photo_url})
    </insert>

    <!-- 기존 insertSchedule -->
    <insert id="insertSchedule" parameterType="ScheduleDTO" useGeneratedKeys="true" keyProperty="schedule_no">
        INSERT INTO SCHEDULE (trip_no, schedule_date, schedule_content)
        VALUES (#{trip_no}, 
                #{schedule_date, jdbcType=DATE}, 
                #{schedule_content, jdbcType=VARCHAR})
    </insert>

    <!-- 기존 insertPlace -->
    <insert id="insertPlace" parameterType="TripPlaceDTO">
        INSERT INTO TRIP_PLACE (place_name, schedule_no)
        VALUES (#{place_name}, #{schedule_no})
    </insert>

 <insert id="insertMemberTrip" parameterType="map">
        INSERT INTO member_trip (member_no, trip_no)
        VALUES (#{member_no}, #{trip_no})
    </insert>



</mapper>
