<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ss.sns.mypage.mapper.MypageMapper">

<update id="profileModify" parameterType="map">
	UPDATE MEMBER
	SET MEMBER_NICKNAME = #{nickname},
	MEMBER_IMG = #{img}
	WHERE MEMBER_EMAIL = #{email}
</update>

<select id="selectBoardTotalCount" parameterType="int" resultType="int">
	SELECT COUNT(*) FROM BOARD WHERE MEMBER_NO = #{member_no}
</select>

<select id="selectMyBoardList" parameterType="map" resultType="MyBoardDTO">
SELECT MR.* FROM (SELECT ROWNUM RNUM, TM.* FROM(SELECT * FROM
	MESSAGEREV WHERE MESSAGE_REV = #{message_rev} and STORE_STATUS_YN = 'N' ORDER BY MESSAGE_NO DESC) TM) MR 
	JOIN MEMBER M ON (MR.MESSAGE_SEN = M.MEMBER_NO) 
	WHERE RNUM BETWEEN #{startNo} and #{endNo}
	ORDER BY SEND_DATE ASC

</select>

</mapper>