<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ss.sns.board.mapper.BoardMapper">
	<sql id="selectAllBoard">
		select * from board
	</sql>
	<!-- 보드 종류별 총 게시글 개수 -->
	<select id="countBoard" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM BOARD WHERE board_kind = #{board_kind}
	</select>
	<!-- 보드 종류별 페이징 후 전부 불러오기 -->
	<select id="selectBoardList" parameterType="map" resultType="BoardDTO">
		select * from( select rownum rNum, Tb.* from (select * from
		board where BOARD_KIND=#{board_kind} order by BOARD_NO desc) Tb) where
		rNum between #{startNo} and #{endNo}
	</select>
	<!-- 보드 종류, 보드 번호로 보드 1개 불러오기 -->
	<select id="selectByBoardNo" parameterType="map" resultType="BoardDTO">
		  <include refid="selectAllBoard"/> where BOARD_KIND= #{board_kind} and board_no= #{board_no}
	</select>
	<!-- 보드 번호로 조인해서 보드 작성한 멤버 가져오기 -->
	<select id="selectJoinBoardMember" parameterType="map" resultType="MemberDTO">
		SELECT m.* FROM board b JOIN member m ON b.member_no =
		m.member_no WHERE b.BOARD_KIND = #{board_kind} AND b.board_no =
		#{board_no}
	</select>
</mapper>